.employee__detail {
  font-family: 'Myriad Pro Regular';  
  font-weight: 200;
  color:#002d62;
  font-size: rem(14);
  padding: rem(0) rem(11);
  margin: 0;
  border-bottom: solid 1px rgba(0, 45, 98, 0.35);
}

.employee__detail--company {
  margin: 0;
  padding: rem(18) rem(0) rem(0);
}

.employee__detail--region {
  margin: 0;
  padding: rem(18) rem(0) rem(0);
}

.employee__detail--email {
  margin: 0;
  padding: rem(18) rem(0) rem(0);
}

.employee__detail--email-link {
  // text-decoration: none;
  color:#002d62;
}

.employee__detail--phone {
  margin: 0;
  padding: rem(18) rem(0) rem(18);
}

.employee__detail--phone-link {
  text-decoration: none;
  color:#002d62;
}
